.main {
    --border-gray: gray;
}

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: minmax(80px, 1fr) 10fr;
    grid-template-rows: 50px 1fr;
}

.main>.topbar {
    grid-column: 1 / -1;
}

.main>.sidebar {
    grid-row: 2 / -1;
    overflow: hidden;
}

.main>.content {
    transform: scale(0.9);
}

.main>.sidebar,
.main>.topbar,
.main>.content {
    border: 1px solid var(--border-gray);
}