.grid {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.grid div[class^="tile"] {
    border: 1px solid yellow;
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: fd005f;
    overflow: hidden;
    visibility: hidden;
}

.grid div:nth-child(2) {
    margin: 0 1%;
}

.grid div:nth-child(3n+2) {
    margin: 0 1%;
}

.grid div:nth-child(6n+4),
.grid div:nth-child(6n+5),
.grid div:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.grid .div:nth-child(6n+4) {
    margin-left: 0.5%;
}

.grid div[class^="tile"] .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdbf00;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div[class^="tile"] .hexagon .interactive {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: scale(1.1);
}

.grid div[class^="tile"] .hexagon .interactive span {
    color: black;
}


/* Debug */

.grid div[class^="tile"] .hexagon .interactive span {
    border: 1px solid red;
}

.grid div[class^="tile"] .hexagon .interactive {
    border: 1px solid green;
}

.grid div[class^="tile"] .hexagon {
    border: 1px solid blue;
}

.grid div[class^="tile"] {
    border: 1px solid pink;
}